* {
    padding: 0;
    margin: 0;
}

ul,
li,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

#header {
    height: 100px;
}

#content {
    width: 100%;
}

#footer {
    height: 200px;
}